body {
    background: #FFCC66;
    text-align: center;
}

ul {
    position: center;
    list-style-type: none;
}

h1 {
    color: red;
}

#list1 {
    float: left;
    font-weight: bold;
    font-size: 20px;
}

#list2 {
    float: right;
    margin-right: 45px;
    font-weight: bold;
    font-size: 20px;
}

form {
    position: center;
}

#br {
    height: 35px;
    width: 250px;
}

#newb {
    background: blue;
    border: 0;
    color: white;
    padding: 10px 25px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    border-radius: 3px;
    margin-top: 3px;
}

img {
    height: 200px;
    width: 200px;
}

#dev,
#del,
#dele {
    background: white;
    padding: 5px 20px;
    border-radius: 3px
}